[submodule "pico"]
	path = lib/pico
	url = git@github.com:ohmrun/stx_pico.git
	branch = develop
[submodule "nano"]
	path = lib/nano
	url = git@github.com:ohmrun/stx_nano.git
	branch = develop
[submodule "fn"]
	path = lib/fn
	url = git@github.com:ohmrun/stx_fn.git
	branch = develop
[submodule "fail"]
	path = lib/fail
	url = git@github.com:ohmrun/stx_fail.git
	branch = develop
[submodule "ds"]
	path = lib/ds
	url = git@github.com:ohmrun/stx_ds.git
	branch = develop
[submodule "assert"]
	path = lib/assert
	url = git@github.com:ohmrun/stx_assert.git
	branch = develop
[submodule "fp"]
	path = lib/fp
	url = git@github.com:ohmrun/stx_fp.git
	branch = develop
[submodule "makro"]
	path = lib/makro
	url = git@github.com:ohmrun/stx_makro.git
	branch = develop
[submodule "log"]
	path = lib/log
	url = git@github.com:ohmrun/stx_log
	branch = develop
[submodule "pkg"]
	path = lib/pkg
	url = git@github.com:ohmrun/stx_pkg
	branch = develop
[submodule "asys"]
	path = lib/asys
	url = git@github.com:ohmrun/stx_asys
	branch = develop
[submodule "coroutine"]
	path = lib/coroutine
	url = git@github.com:ohmrun/stx_coroutine
	branch = develop
[submodule "fletcher"]
	path = lib/fletcher
	url = git@github.com:ohmrun/fletcher
	branch = develop
[submodule "stream"]
	path = lib/stream
	url = git@github.com:ohmrun/stx_stream
	branch = develop
[submodule "proxy"]
	path = lib/proxy
	url = git@github.com:ohmrun/stx_proxy
	branch = develop
[submodule "parse"]
	path = lib/parse
	url = git@github.com:ohmrun/stx_parse
	branch = develop
[submodule "pml"]
	path = lib/pml
	url = git@github.com:ohmrun/pml
	branch = develop
[submodule "test"]
	path = lib/test
	url = git@github.com:ohmrun/stx_test
	branch = develop
[submodule "show"]
	path = lib/show
	url = git@github.com:ohmrun/stx_show
	branch = develop
[submodule "bake"]
	path = lib/bake
	url = git@github.com:ohmrun/stx_bake
	branch = develop
[submodule "config"]
	path = lib/config
	url = git@github.com:ohmrun/stx_config
	branch = develop
[submodule "walker"]
	path = lib/walker
	url = git@github.com:ohmrun/walker.git
	branch = develop
[submodule "build"]
	path = lib/build
	url = git@github.com:ohmrun/stx_build.git
	branch = develop
[submodule "cli"]
	path = lib/cli
	url = git@github.com:ohmrun/stx_cli
	branch = develop
[submodule "data"]
	path = lib/data
	url = git@github.com:ohmrun/stx_data
	branch = develop
[submodule "di"]
	path = lib/di
	url = git@github.com:ohmrun/stx_di
	branch = develop
[submodule "http_client"]
	path = lib/http_client
	url = git@github.com:ohmrun/stx_http_client
	branch = develop
[submodule "om"]
	path = lib/om
	url = git@github.com:ohmrun/stx_om
	branch = develop
[submodule "query"]
	path = lib/query
	url = git@github.com:ohmrun/stx_query
	branch = develop
[submodule "ds_xset"]
	path = lib/ds_xset
	url = git@github.com:ohmrun/stx_ds_xset
	branch = develop
[submodule "schema"]
	path = lib/schema
	url = git@github.com:ohmrun/stx_schema
	branch = develop