{
 :deps {
        ohmrun/stx_release {:local/root "."}
 }
 :tasks {:requires
         ([cheshire.core :as json]
          [babashka.process :as proc]
          [babashka.fs :as fs]
          [release :as release])
         load (release/-main)
         unit (proc/shell "hedn" "build" "unit/interp")
         }
 }